<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ApparelLK</title>
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/public/images/Untitled-4.png">
</head>
<body>
     <div class="container">
        <div class="cart">
            <div class="box1 bb">

            </div>
            <div class="box aa">
                <h1>Your Shopping Cart <a href="" id="cancle"><i class="fa fa-times" aria-hidden="true"></i></a></h1>
            </div>
        </div>
        <div class="header">
            <span class="user"><h3>Hi!</h3><h1><span>K</span></h1></span>
            <h2><img src="/public/images/Untitled-12.png" alt=""><span></span></h2>
            <div class="box">
                <a href=""><i class="fa fa-search" aria-hidden="true"></i></a>
                <a href="" id="log">Log in</a>
                <a href="" id="cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i><span>0</span></a>
            </div>
        </div>
        <header class="h1">
            
            <li><a href="" id="text">HOME</a></li>
            <li><a href="">COllECTION</a></li>
            <li><a href="">FEATURES</a></li>
            <li><a href="">BLOG</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">ABOUT US</a></li>
        </header>
        
        <div id="container">
            <div class="aa img img03">
                <img src="/public/images/Untitled-5.png" alt="">
            </div>
            <div class="aa img img02">
                <img src="/public/images/Untitled-11.png" alt="">
            </div>
            <div class="aa img img01">
                <img src="/public/images/Untitled-6.png" alt="">
            </div>
            <div class="aa img img0">
                <img src="/public/images/Untitled-7.png" alt="">
            </div>
            <div class="aa img img1">
                <img src="/public/images/Untitled-8.png" alt="">
            </div>
            <div class="aa img img2">
                <img src="/public/images/Untitled-9.png" alt="">
            </div>
            <div class="aa img img3 curr">
                <img src="/public/images/Untitled-10.png" alt="">
            </div>
        
        
        </div>
        <div class="dis">
            <div class="dis2">
                <h2>Spring summer</h2>
                <p>By implementing these solutions and adapting them to your specific e-business platform, you can address the
                    weaknesses
                    in the textile for your customers.</p>
            </div>
            <div class="box">
        
            </div>
            <div class="box2">
                <div class="box1 curr1">
                    <div class="dis1 d1" >
                        <h2 style="color: rgb(192, 196, 199);">Strip Suit men blacer</h2>
                    </div>
                    <div class="dis1 d2" style="background: linear-gradient(to  left,rgb(66, 65, 68),rgba(255, 255, 255, 0));">
                        <a href="">Buy Now</a>
                    </div>
                    <div class="dis1 d3"  style="background-color: rgb(43, 42, 44);">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="dis1 d4" >
                        <h2>The latest fashion news and trends, including celebrities, politicians, designer reviews, runway shows and international
                        fashion week photos and coverage.</h2>
                    </div>
                    
                </div>
                <div class="box1">
                    <div class="dis1 d1" >
                        <h2 style="color: rgb(215, 179, 221);">Strip Suit men blacer</h2>
                        <h2></h2>
                    </div>
                    <div class="dis1 d2" style="background: linear-gradient(to  left,rgb(82, 48, 128),rgba(255, 255, 255, 0));">
                        <a href="">Buy Now</a>
                        
                    </div>
                    <div class="dis1 d3" style="background-color: rgb(94, 51, 122);">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="dis1 d4">
                        <h2>The latest fashion news and trends, including celebrities, politicians, designer reviews, runway shows and international
                        fashion week photos and coverage.</h2>
                    </div>
                    
                </div>
                <div class="box1">
                    <div class="dis1 d1" >
                        <h2 style="color: rgb(187, 159, 209);">Strip Suit men blacer</h2>
                    </div>
                    <div class="dis1 d2" style="background: linear-gradient(to  left,rgb(69, 32, 87),rgba(255, 255, 255, 0));">
                        <a href="">Buy Now</a>
                    </div>
                    <div class="dis1 d3"  style="background-color: rgb(46, 25, 59);">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="dis1 d4">
                        <h2>The latest fashion news and trends, including celebrities, politicians, designer reviews, runway shows and international
                        fashion week photos and coverage.</h2>
                    </div>
                </div>
                <div class="box1">
                    <div class="dis1 d1" >
                        <h2 style="color: rgb(255, 215, 163);">Strip Suit men blacer</h2>
                    </div>
                    <div class="dis1 d2" style="background: linear-gradient(to  left,rgb(233, 150, 56),rgba(255, 255, 255, 0));">
                        <a href="">Buy Now</a>
                    </div>
                    <div class="dis1 d3"  style="background-color: rgb(201, 110, 35);">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="dis1 d4">
                        <h2>The latest fashion news and trends, including celebrities, politicians, designer reviews, runway shows and international
                        fashion week photos and coverage.</h2>
                    </div>
                </div>
                <div class="box1">
                    <div class="dis1 d1" >
                        <h2 style="color: rgb(203, 210, 214);">Strip Suit men blacer</h2>
                    </div>
                    <div class="dis1 d2" style="background: linear-gradient(to  left,rgb(66, 64, 61),rgba(255, 255, 255, 0));">
                        <a href="">Buy Now</a>
                    </div>
                    <div class="dis1 d3"  style="background-color: rgb(122, 116, 126);">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="dis1 d4">
                        <h2>The latest fashion news and trends, including celebrities, politicians, designer reviews, runway shows and international
                        fashion week photos and coverage.</h2>
                    </div>
                </div>
                <div class="box1">
                    <div class="dis1 d1" >
                        <h2 style="color: rgb(167, 218, 158);">Strip Suit men blacer</h2>
                    </div>
                    <div class="dis1 d2" style="background: linear-gradient(to  left,rgb(30, 148, 49),rgba(255, 255, 255, 0));">
                        <a href="">Buy Now</a>
                    </div>
                    <div class="dis1 d3"  style="background-color: rgb(51, 122, 66);">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="dis1 d4">
                        <h2>The latest fashion news and trends, including celebrities, politicians, designer reviews, runway shows and international
                        fashion week photos and coverage.</h2>
                    </div>
                </div>
                <div class="box1">
                    <div class="dis1 d1" >
                        <h2 style="color: rgb(158, 191, 212);">Strip Suit men blacer</h2>
                    </div>
                    <div class="dis1 d2" style="background: linear-gradient(to  left,rgb(31, 54, 128),rgba(255, 255, 255, 0));">
                        <a href="">Buy Now</a>
                    </div>
                    <div class="dis1 d3" style="background-color: rgb(37, 59, 87);">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                    </div>
                    <div class="dis1 d4">
                        <h2>The latest fashion news and trends, including celebrities, politicians, designer reviews, runway shows and
                            international
                            fashion week photos and coverage.</h2>
                    </div>
                </div>
            </div>
            <div class="box3">
                <div class="count">
                    <h2>Top rate </h2>
                    <h2>Items</h2>
                    <h1>|</h1>
                    <div class="count1">
                        <h3 class="count2 curr3">1</h3>
                        <h3 class="count2">2</h3>
                        <h3 class="count2">3</h3>
                        <h3 class="count2">4</h3>
                        <h3 class="count2">5</h3>
                        <h3 class="count2">6</h3>
                    </div>
                </div>
            </div>
            <div class="btns">
                <a href="" id="left"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <a href="" id="right"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        
        </div>
       
     </div>

     <div class="container1">
        <div class="box box1">
            <h2>Buy Branded Purses</h2>
            <a href="">View More</a>
        </div>
        <div class="box box2">
            <h2>Buy Branded Purses</h2>
            <a href="">View More</a>
        </div>
        <div class="box box3">
            <h2>Buy Branded Purses</h2>
            <a href="">View More</a>
        </div>
     </div>
    <div class="container2 a2">
        <div class="box">
            <i class="fa fa-truck a1" aria-hidden="true"></i>
            <h2>Free world shipping</h2>
            <h3>Order over $100</h3>

            
        </div>
        <div class="box">
            <i class="fa fa-headphones" aria-hidden="true"></i>
            <h2>Money Back service</h2>
            <h3>within 30 days</h3>
            
        </div>
        <div class="box">
            <i class="fa fa-truck-fast a3" ></i>
            <h2>best online support</h2>
            <h3>Hours: 8AM - 11PM</h3>
            
        </div>
        <div class="box">
            <i class="fa fa-rocket a4" aria-hidden="true"></i>
            <h2>Win $100 shop</h2>
            <h3>Enter now</h3>
        
        </div>
    </div>
    <div class="container3">
        <h2>Best products</h2>
        <div class="items">
            <div class="item">
                <img src="/public/images/Untitled-6.png" alt="">

                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            <div class="item">
                <img src="/public/images/Untitled-7.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            <div class="item a8">
                <img src="/public/images/Untitled-6.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            <div class="item a5">
                <img src="/public/images/Untitled-5.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            <div class="item a9">
                <img src="/public/images/Untitled-9.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            <div class="item a4">
                <img src="/public/images/Untitled-11.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            <div class="item a3">
                <img src="/public/images/Untitled-10.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            
                    
            <div class="item a6">
                <img src="/public/images/Untitled-7.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
            <div class="item a7">
                <img src="/public/images/Untitled-6.png" alt="">
            
                <div class="dis1">
                    <h1>Castaria Long Port</h1>
                    <h2>$80</h2>
                    <a href="" class="add"><i class="fa-solid fa-plus"></i></a>
                    <a href="" class="view">View details</a>
                </div>
            </div>
        </div>
    </div>
</body>
   <script src="/public/js/home.js"></script>
</html>