<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/page1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <header class="header">
        <h2>company</h2>
        <li><a href="">Home</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">More</a></li>
        <li><a href="" id="cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
    </header>

    <div class="box a1"></div>
    <div class="box a2"></div>
    <div class="box a3"></div>
    <div class="box a4"></div>
    <div class="box a5"></div>
    <div class="box a6"></div>
    <div class="box a7"></div>
    <div class="cartBox">
        <a href="" class="cbtn"><i class="fa-solid fa-xmark"></i></a>
    </div>

    <div class="slide">
        <h2>WOMEN FASHION</h2>
        <div id="box">

            <li><a href="">Coat</a></li>
            <li><a href="">Jeans</a></li>
            <li><a href="">Tops</a></li>
            <li><a href="">Dresses</a></li>

            <a href="" id="more">more</a>
            <a href="" id="men">Shop Men</a>

        </div>

        <div class="slider">
            <img class="img curr" src="https://static.wixstatic.com/media/e0972e_3323299d1232462993538527b42ee266~mv2.png/v1/fill/w_560,h_746,al_c,lg_1,q_90,enc_auto/e0972e_3323299d1232462993538527b42ee266~mv2.png" alt="">
            <img class="img" src="https://static.wixstatic.com/media/e0972e_3323299d1232462993538527b42ee266~mv2.png/v1/fill/w_560,h_746,al_c,lg_1,q_90,enc_auto/e0972e_3323299d1232462993538527b42ee266~mv2.png" alt="">
            <img class="img" src="https://static.wixstatic.com/media/e0972e_3323299d1232462993538527b42ee266~mv2.png/v1/fill/w_560,h_746,al_c,lg_1,q_90,enc_auto/e0972e_3323299d1232462993538527b42ee266~mv2.png" alt="">
            <img class="img" src="https://static.wixstatic.com/media/e0972e_3323299d1232462993538527b42ee266~mv2.png/v1/fill/w_560,h_746,al_c,lg_1,q_90,enc_auto/e0972e_3323299d1232462993538527b42ee266~mv2.png" alt="">
        </div>
    </div>
    
    
</body>
<script src="/public/js/page1.js"></script>
</html>